
.imageEdit-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    visibility: hidden; 
  }
  
  .imageEdit-modal.show {
    visibility: visible; 
  }
  
  .imageEdit-modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 60vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .imageEdit-modal-header {
    display: flex;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    align-items: flex-start;
  }

  .imageEdit-myPage-input {
    display: none;
  }

  .custom-file-upload {
    display: inline-block;
    background-color: #5a5858;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 12px;
    text-align: center;
  }
  
  
  .custom-file-upload:hover {
    background-color: #373737;
  }

  .imagePreview {
    margin-top: 16px;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    max-height: 100%; 
  }
  
  .imageEdit-modal-body {
    display: flex;
    flex-direction: column;
  }
  
  .imageEdit-modal-footer {
    display: flex;
    gap: 20px;
    justify-content: center;
  }
  
  .imageEdit-modal-footer button {
    background-color: #ff4e50;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
  }
  
  .imageEdit-modal-footer button:hover {
    background-color: #e94345;
  }