.mypage {
    max-width: 480px;
    padding: 20px 16px 20px;
    background-color: #f9f9f9;
    font-family: 'Pretendard', sans-serif;
    margin: 0 auto;
    margin-top: 40px;
    border-radius: 8px;
  }

  .mypage ul {
    padding-left: 0;
    list-style: none;
  }

  /* 상단 프로필 카드 */
  .mypage-profile {
    background: white;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08); 
    transition: box-shadow 0.3s ease;
    margin-bottom: 40px;
  }
  
  .mypage-profile-card {
    display: flex;
    align-items: flex-start;
    gap: 50px; 
    padding: 10px;
  }
  
  .mypage-profile-image {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid #eee;
  }
  
  .mypage-profile-info {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: flex-start;
  }
  
  .mypage-profile-info .name {
    font-size: 18px;
    font-weight: 700;
  }
  
  .mypage-profile-info .phone {
    font-size: 14px;
    color: #777;
    margin-bottom: 10px;
  }
  
  .mypage-profile-info .counts {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    width: 100%;
  }
  
  .mypage-profile-info .counts div {
    font-size: 14px;
    color: #333;
    font-weight: bold;
  }
  
  .mypage-profile-info .counts span {
    font-size: 14px;
    color: #000;
    margin-right: 5px;
  }

  .mypage-profile-info .counts span:last-child {
    background-color: #e0e0e0;
    color: #333;
    padding: 2px 8px;
    border-radius: 4px;
    font-size: 11px;
  }
  
  .mypage-profile-info .counts .text {
    font-weight: normal;
    cursor: pointer;
  }

  .mypage-profile-info .counts .text:hover {
    color: #ff4e50;
    font-weight: bold;
  }

  /* 상단 프로필 버튼 (이름변경, 이미지변경, 로그아웃, 회원탈퇴) */
  .mypage-button-group {
    display: flex;
    justify-content: space-evenly;
    margin-top: 24px;
    width: 100%;
  }

  .mypage-button-group button {
    flex-grow: 1;
    margin: 0 8px;
  }
  
  .mypage-button {
    flex-grow: 1;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    font-weight: 600;
    font-size: 10px;
    cursor: pointer;
    background-color: #ff4e50;
    color: white;
    text-align: center;
    transition: all 0.3s ease;
  }

  .mypage-button:hover {
    transform: scale(1.05);
    opacity: 0.9;
  }
  
  .mypage-button.gray {
    background-color: #e0e0e0;
    color: #333;
  }

  /* 펫 카드 */
  .mypage-pet-section {
    background: white;
    border-radius: 16px;
    padding: 20px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08); 
    transition: box-shadow 0.3s ease;
    margin-bottom: 40px;
  }

  .mypage-pet-section-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 16px;
  }

  .mypage-icon-withtext {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .mypage-pet-section-link {
    color: #888;
    font-size: 12px;
    text-decoration: none;
    cursor: pointer;
    font-weight: 500;
  }

  .mypage-pet-section-link:hover {
    color: #ff4e50;
    font-weight: bold;
  }

  .mypage-pet-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    padding: 0;
    list-style: none;
  }

  .mypage-pet-section li {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    background: #fafafa;
    border: none;
    border-radius: 10px;
    padding: 20px;
    font-size: 14px;
  }

  .mypage-pet-section li:hover {
    transform: scale(1.03);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .mypage-pet-image {
    max-width: 40px; 
    height: 40px;
    margin-right: 16px; 
  }
  
  .mypage-pet-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
  }
  
  .mypage-pet-name {
    font-weight: bold;
  }
  
  .mypage-pet-species {
    font-size: 12px;
    color: #777;
  }

  .mypage-empty-state {
    width: 100%;
    background-color: #f9f9f9;
    padding: 40px 20px;
    border-radius: 8px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 12px;
    box-sizing: border-box;
    text-align: center;
  }

  .mypage-empty-text-main {
    font-size: 14px;
    font-weight: 600;
    margin: 0;
    color: #333;
  }

  .mypage-empty-text-sub {
    display: block;
    font-size: 12px;
    font-weight: 400;
    color: #999;
    margin-top: 2px;
  }

  .mypage-post-section {
    background: white;
    border-radius: 16px;
    padding: 20px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08); 
    transition: box-shadow 0.3s ease;
  }
  
  .mypage-post-section-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 16px;
  }
  
  .mypage-post-section-link {
    color: #888;
    font-size: 12px;
    text-decoration: none;
    cursor: pointer;
    font-weight: 500;
  }

  .mypage-post-section-link:hover {
    color: #ff4e50;
    font-weight: bold;
  }

  .mypage-post-section ul {
    display: flex;
    flex-wrap: wrap; 
    gap: 16px;
    padding: 0;
    list-style: none;
  }