.my-page-confirm-modal-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.my-page-confirm-modal {
  background-color: white;
  border-radius: 12px;
  padding: 24px;
  width: 90%;
  max-width: 360px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  font-family: 'Pretendard', sans-serif;
  text-align: center;
}

.my-page-confirm-message {
  font-size: 20px;
  font-weight: 800;
  color: #000000;
  margin-bottom: 12px;
  padding: 24px;
  white-space: pre-wrap;
}

.my-page-confirm-buttons {
  display: flex;
  justify-content: space-between;
}

.my-page-cancel-button,
.my-page-confirm-button {
  flex: 1;
  height: 44px;
  font-size: 14px;
  font-weight: 700;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.my-page-cancel-button {
  background-color: #f9f9f9;
  color: #000000;
  margin-right: 8px;
}

.my-page-cancel-button:hover {
  background-color: #E8E9EC;
}

.my-page-confirm-button {
  background-color: #00CBA8;
  color: white;
}

.my-page-confirm-button:hover {
  background-color: #13BA9D;
}

/* --------------------  모바일  -------------------- */
@media screen and (max-width: 768px) {
  .my-page-confirm-modal-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.my-page-confirm-modal {
  background-color: #fff;
  width: 75%;
  max-width: auto;
  height: auto;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  font-family: "Pretendard", sans-serif;
  position: relative;
  display: flex;
  flex-direction: column;
}

.my-page-confirm-message {
  font-size: 16px;
  font-weight: 800;
  color: #000000;
  margin-bottom: 8px;
  padding: 24px;
  white-space: pre-wrap;
}

.my-page-confirm-buttons {
  display: flex;
  justify-content: space-between;
}

.my-page-cancel-button,
.my-page-confirm-button {
  flex: 1;
  height: 44px;
  font-size: 12px;
  font-weight: 700;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.my-page-cancel-button {
  background-color: #f9f9f9;
  color: #000000;
  margin-right: 12px;
}

.my-page-cancel-button:hover {
  background-color: #E8E9EC;
}

.my-page-confirm-button {
  background-color: #00CBA8;
  color: white;
}

.my-page-confirm-button:hover {
  background-color: #13BA9D;
}
}