.myPage {
    max-width: 480px;
    padding: 20px 16px 20px;
    background-color: #f9f9f9;
    font-family: 'Pretendard', sans-serif;
    margin: 0 auto;
    margin-top: 120px;

    border-radius: 8px;
  }

  .myPage ul {
    padding-left: 0;
    list-style: none;
  }
  
  .profile-card {
    background: white;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.03);
    margin-bottom: 40px;
  }
  
  .profile-card-content {
    display: flex;
    align-items: flex-start;
    gap: 50px; 
    padding: 10px;
  }
  
  .profile-image {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid #eee;
  }
  
  .profile-info {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: flex-start;
  }
  
  .profile-info .name {
    font-size: 18px;
    font-weight: 700;
  }
  
  .profile-info .phone {
    font-size: 14px;
    color: #777;
    margin-bottom: 10px;
  }
  
  .profile-info .counts {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    width: 100%;
  }
  
  .profile-info .counts div {
    font-size: 14px;
    color: #333;
    font-weight: bold;
  }
  
  .profile-info .counts span {
    font-size: 14px;
    color: #000;
    margin-right: 5px;
  }
  
  .profile-info .counts .text {
    font-weight: normal;
    cursor: pointer;
  }

  .profile-info .counts .text:hover {
    color: #ff4e50;
    font-weight: bold;
  }
  
  .myPage-button-group {
    display: flex;
    justify-content: space-evenly;
    
    margin-top: 24px;
    width: 100%;
  }
  
  .myPage-button {
    flex-grow: 1;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    font-weight: 600;
    font-size: 10px;
    cursor: pointer;
    background-color: #ff4e50;
    color: white;
    text-align: center;
  }
  
  .myPage-button.gray {
    background-color: #e0e0e0;
    color: #333;
  }
  
  .myPage-button-group button {
    flex-grow: 1;
    margin: 0 8px;
  }
  
  .section-card-pets {
    background: white;
    border-radius: 16px;
    padding: 20px;
    box-shadow: 0 0 8px rgba(0,0,0,0.02);
    margin-bottom: 40px;
  }

  .section-card-pets h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 16px;
  }
  
  .section-card-pets h3 .link {
    color: #888;
    font-size: 12px;
    text-decoration: none;
    cursor: pointer;
    font-weight: 500;
  }

  .section-card-pets h3 .link:hover {
    color: #ff4e50;
    font-weight: bold;
  }

  .section-card-pets ul {
    display: flex;
    flex-wrap: wrap; 
    gap: 16px;
    padding: 0;
    list-style: none;
  }
  
  .section-card-pets li {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    flex: 1 1 calc(50% - 16px); 
    background: #fafafa;
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 16px;
    font-size: 14px;
  }
  
  .section-card-pets li img {
    max-width: 40px; 
    height: auto;
    margin-right: 16px; 
  }
  
  .section-card-pets li .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
  }
  
  .section-card-pets li .name {
    font-weight: bold;
  }
  
  .section-card-pets li .species {
    font-size: 12px;
    color: #777;
  }

  .section-card-posts {
    background: white;
    border-radius: 16px;
    padding: 20px;
    box-shadow: 0 0 8px rgba(0,0,0,0.02);
  }
  
  .section-card-posts h3 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 12px;
    display: flex;
    align-items: flex-start;
  }

  .section-card-posts ul {
    display: flex;
    flex-wrap: wrap; 
    gap: 16px;
    padding: 0;
    list-style: none;
  }

  .section-card-posts li {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    flex: 1 1 calc(50% - 16px); 
    background: #fafafa;
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 16px;
    font-size: 14px;
  }