.category-delete-overlay {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.category-delete-container {
  background-color:var(--color-main2);
  width: 90%;
  max-width: 420px;
  padding: 32px 24px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, .05);
  font-family: "Pretendard", sans-serif;
  position: relative;
}

.category-delete-title {
  font-size: 20px;
  font-weight: 800;
  text-align: left;
  color: var(--color-text);
  margin-bottom: 8px;
  margin-left: 4px;
}

.category-delete-subtitle {
  font-size: 13px;
  font-weight: 500;
  text-align: left;
  color: var(--color-subtext);
  margin-bottom: 32px;
  margin-left: 4px;
}

.category-delete-subtitle strong {
  color: var(--color-text);
  font-weight: 600;
}

.category-delete-input {
  width: 100%;
  padding: 12px 14px;
  font-size: 12px;
  border-radius: 8px;
  border: none;
  background-color: var(--color-main1);
  box-sizing: border-box;
  color: var(--color-text);
  margin-bottom: 40px;
}

.category-delete-input:focus {
  outline: none;
  background-color: var(--color-main2);
  box-shadow: 0 0 0 2px var(--color-point2-hover);
}

.category-delete-button-row {
  display: flex;
  justify-content: space-between;
}

.category-delete-cancel-button {
  flex: 1;
  height: 44px;
  font-size: 14px;
  font-weight: 700;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.category-delete-confirm-button {
  flex: 1;
  height: 44px;
  font-size: 14px;
  font-weight: 700;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.category-delete-cancel-button {
  background-color: var(--color-main1);
  color: var(--color-text);
  margin-right: 8px;
}

.category-delete-cancel-button:hover {
  background-color: var(--color-main1-hover);
}

.category-delete-confirm-button {
  background-color: var(--color-point);
  color: var(--color-main2);
  transition: background-color 0.2s ease;
}

.category-delete-confirm-button:hover {
  background-color: var(--color-point-hover);
}

.category-delete-confirm-button:disabled {
  background: var(--color-disable);
  color:   var(--color-disable-text);
  cursor: not-allowed;
  transition: background-color 0.2s ease;
}

/* --------------------  모바일  -------------------- */
@media screen and (max-width: 768px) {
.category-delete-overlay {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.category-delete-container {
  background-color:var(--color-main2);
  width: 75%;
  max-width: auto;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, .05);
  font-family: "Pretendard", sans-serif;
  position: relative;
}

.category-delete-title {
  font-size: 16px;
  font-weight: 800;
  text-align: left;
  color: var(--color-text);
  margin-bottom: 4px;
  margin-left: 4px;
}

.category-delete-subtitle {
  font-size: 10px;
  font-weight: 500;
  text-align: left;
  color: var(--color-subtext);
  margin-bottom: 24px;
  margin-left: 4px;
}

.category-delete-subtitle strong {
  color: var(--color-text);
  font-weight: 600;
}

.category-delete-input {
  width: 100%;
  padding: 12px 14px;
  font-size: 9px;
  border-radius: 8px;
  border: none;
  background-color: var(--color-main1);
  box-sizing: border-box;
  color: var(--color-text);
  margin-bottom: 32px;
}

.category-delete-input:focus {
  outline: none;
  background-color: var(--color-main2);
  box-shadow: 0 0 0 2px var(--color-point2-hover);
}

.category-delete-button-row {
  display: flex;
  justify-content: space-between;
}

.category-delete-cancel-button {
  flex: 1;
  height: 44px;
  font-size: 12px;
  font-weight: 700;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.category-delete-confirm-button {
  flex: 1;
  height: 44px;
  font-size: 12px;
  font-weight: 700;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.category-delete-cancel-button {
  background-color: var(--color-main1);
  color: var(--color-text);
  margin-right: 8px;
}

.category-delete-cancel-button:hover {
  background-color: var(--color-main1-hover);
}

.category-delete-confirm-button {
  background-color: var(--color-point);
  color: var(--color-main2);
  transition: background-color 0.2s ease;
}

.category-delete-confirm-button:hover {
  background-color: var(--color-point-hover);
}

.category-delete-confirm-button:disabled {
  background: var(--color-disable);
  color:   var(--color-disable-text);
  cursor: not-allowed;
  transition: background-color 0.2s ease;
}
}