.dts-wrapper {
  position: relative;
  display: block;
  width: 100%;
  overflow: visible;
}

.dts-field {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: left;
  border-radius: 8px;
  border: none;
  background-color: var(--color-main2);
  font-size: 12px;
  font-weight: 500;
  color: var(--color-text);
  cursor: pointer;
  padding: 0 12px;
  box-sizing: border-box;
  transition: all 0.2s ease;
}

.dts-field:focus {
  outline: none;
  background-color: var(--color-main2);
  box-shadow: 0 0 0 2px var(--color-point2-hover);
}

.dts-caret {
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  font-size: 16px;
  color: var(--color-text);
}

.dts-popover {
  position: fixed;
  top: calc(100% + 6px);
  left: 0;
  z-index: 9999;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
  padding: 24px 16px;
  width: 320px;
  background-color: var(--color-main2);
  border: none;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);

}

.dts-calendar-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  margin-bottom: 16px;
  font-weight: bold;
  grid-column: 1 / span 3;
}

.dts-nav-btn {
  background-color: var(--color-main2);
  border: none;
  border-radius: 8px;
  padding: 0px;
  cursor: pointer;
}

.dts-nav-btn:hover {
  background-color: var(--color-main2-hover);
}

.dts-nav-btn svg {
  font-size: 24px;
}

.dts-month-label {
  font-size: 16px;
  font-weight: 600;
}

.dts-calendar-grid {
  display: flex;
  flex-direction: column;
  gap: 5px;
  grid-column: 1 / span 3;
  margin-bottom: 12px;
  padding: 8px 24px;
  background-color: var(--color-main1);
  border-radius: 8px;
}

.dts-week-row {
  display: flex;
  justify-content: space-between;
}

.dts-day {
  width: 32px;
  height: 32px;
  text-align: center;
  line-height: 32px;
  border-radius: 6px;
  font-size: 10px;
  color: var(--color-subtext);
  cursor: pointer;
  transition: all 0.3s ease;
}

.dts-day:hover {
  background-color: var(--color-main1-hover);
}

.dts-day.selected {
  background-color: var(--color-selected);
  color: var(--color-text);
  font-weight: bold;
}

.dts-day.today {
  background-color: #f87171;
  color: white;
  font-weight: bold;
}

.dts-day.today-selected {
  background-color: #dc2626;
  color: white;
  font-weight: bold;
}

.dts-column {
  max-height: 120px;
  overflow-y: auto;
  border-radius: 8px;
  background: var(--color-main1);
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.dts-column::-webkit-scrollbar {
  display: none;
}

.dts-option {
  display: block;
  width: 100%;
  padding: 10px 10px;
  border: none;
  background: transparent;
  border-radius: 8px;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
}

.dts-option:hover {
  background-color: var(--color-main1-hover);
}

.dts-option.selected {
  background-color: var(--color-selected);
  color: var(--color-text);
  font-weight: 700;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* --------------------  모바일  -------------------- */
@media screen and (max-width: 768px) {
.dts-wrapper {
  position: relative;
  display: block;
  width: 100%;
  overflow: visible;
}

.dts-field {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: left;
  border-radius: 8px;
  border: none;
  background-color: var(--color-main2);
  font-size: 10px;
  font-weight: 500;
  color: var(--color-text);
  cursor: pointer;
  padding: 0 12px;
  box-sizing: border-box;
  transition: all 0.2s ease;
}

.dts-field:focus {
  outline: none;
  background-color: var(--color-main2);
  box-shadow: 0 0 0 2px var(--color-point2-hover);
}

.dts-caret {
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  font-size: 16px;
  color: var(--color-text);
}

.dts-popover {
  position: fixed;
  top: calc(100% + 6px);
  left: 0;
  z-index: 9999;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4px;
  padding: 16px;
  width: 240px;
  background-color: var(--color-main2);
  border: none;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
}

.dts-calendar-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  margin-bottom: 8px;
  font-weight: bold;
  grid-column: 1 / span 3;
}

.dts-nav-btn {
  background-color: var(--color-main2);
  border: none;
  border-radius: 8px;
  padding: 0px;
  cursor: pointer;
}

.dts-nav-btn:hover {
  background-color: var(--color-main2-hover);
}

.dts-nav-btn svg {
  font-size: 24px;
}

.dts-month-label {
  font-size: 12px;
  font-weight: 600;
}

.dts-calendar-grid {
  display: flex;
  flex-direction: column;
  gap: 4px;
  grid-column: 1 / span 3;
  margin-bottom: 8px;
  padding: 12px;
  background-color: var(--color-main1);
  border-radius: 8px;
}

.dts-week-row {
  display: flex;
  justify-content: space-between;
}

.dts-day {
  width: 24px;
  height: 24px;
  text-align: center;
  line-height: 24px;
  border-radius: 6px;
  font-size: 9px;
  color: var(--color-subtext);
  cursor: pointer;
  transition: all 0.3s ease;
}

.dts-day:hover {
  background-color: var(--color-main1-hover);
}

.dts-day.selected {
  background-color: var(--color-selected);
  color: var(--color-text);
  font-weight: bold;
}

.dts-day.today {
  background-color: #f87171;
  color: white;
  font-weight: bold;
}

.dts-day.today-selected {
  background-color: #dc2626;
  color: white;
  font-weight: bold;
}

.dts-column {
  max-height: 110px;
  overflow-y: auto;
  border-radius: 8px;
  background: var(--color-main1);
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.dts-column::-webkit-scrollbar {
  display: none;
}

.dts-option {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  background: transparent;
  border-radius: 8px;
  text-align: center;
  font-size: 10px;
  font-weight: 600;
  cursor: pointer;
}

.dts-option:hover {
  background-color: var(--color-main1-hover);
}

.dts-option.selected {
  background-color: var(--color-selected);
  color: var(--color-text);
  font-weight: 700;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
}