.schedule-delete-overlay {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.schedule-delete-container {
  background-color: #fff;
  width: 90%;
  max-width: 360px;
  height: auto;
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  font-family: "Pretendard", sans-serif;
  position: relative;
  display: flex;
  flex-direction: column;
}

.schedule-delete-title {
  font-size: 20px;
  font-weight: 800;
  text-align: left;
  color: #000000;
  margin-bottom: 0px;
  margin-left: 4px;
}

.schedule-delete-description {
  font-size: 13px;
  font-weight: 500;
  text-align: left;
  color: #6B7280;
  margin-bottom: 32px;
  margin-left: 4px;
}

.schedule-delete-description strong {
  color: #111827;
  font-weight: 600;
}

.schedule-delete-meta {
  background: #f9f9f9;
  border-radius: 8px;
  padding: 12px;
  margin-bottom: 12px;
}

.schedule-delete-meta .row {
  display: flex;
  gap: 8px;
  font-size: 12px;
  margin: 4px 0;
}

.schedule-delete-meta .label {
  text-align: left;
  width: 80px;
  color: #6b7280;
  font-weight: 600;
  margin-left: 12px;
}

.schedule-delete-meta .value {
  color: #000000;
  font-weight: 600;
}

.schedule-delete-input {
  width: 100%;
  padding: 12px 14px;
  font-size: 12px;
  border-radius: 8px;
  border: none;
  background: #f9f9f9;
  box-sizing: border-box;
  margin: 12px 0 16px;
  color: #000000;
}

.schedule-delete-input:focus {
  outline: none;
  background-color: #ffffff;
  box-shadow: 0 0 0 2px #111827;
}

.schedule-delete-button-row {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}

.schedule-delete-cancel-button {
  flex: 1;
  height: 44px;
  font-size: 14px;
  font-weight: 700;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color .2s;
}

.schedule-delete-confirm-button {
  flex: 1;
  height: 44px;
  font-size: 14px;
  font-weight: 700;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color .2s;
}

.schedule-delete-cancel-button {
  background-color: #f9f9f9;
  color: #000000;
  margin-right: 8px;
}

.schedule-delete-cancel-button:hover {
  background: #E8E9EC;
}

.schedule-delete-confirm-button {
  background-color: #00CBA8;
  color: white;
}

.schedule-delete-confirm-button:hover {
  background: #13BA9D;
}

.schedule-delete-confirm-button:disabled {
  background: #E8E9EC;
  color: #C0C0C0;
  cursor: not-allowed;
  transition: background-color 0.2s ease;
}

/* --------------------  모바일  -------------------- */
@media screen and (max-width: 768px) {

  .schedule-delete-overlay {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.schedule-delete-container {
  background-color: #fff;
  width: 75%;
  max-width: 260px;
  height: auto;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  font-family: "Pretendard", sans-serif;
  position: relative;
  display: flex;
  flex-direction: column;
}

.schedule-delete-title {
  font-size: 16px;
  font-weight: 800;
  text-align: left;
  color: #000000;
  margin-bottom: 4px;
  margin-left: 4px;
}

.schedule-delete-description {
  font-size: 10px;
  font-weight: 500;
  text-align: left;
  color: #6b7280;
  margin-bottom: 24px;
  margin-left: 4px;
}

.schedule-delete-description strong {
  color: #000000;
  font-weight: 600;
}

.schedule-delete-meta {
  background: #f9f9f9;
  border-radius: 8px;
  padding: 6px;
  margin-bottom: 12px;
}

.schedule-delete-meta .row {
  display: flex;
  gap: 8px;
  font-size: 10px;
  margin: 4px 0;
}

.schedule-delete-meta .label {
  text-align: left;
  width: 60px;
  color: #6b7280;
  font-weight: 600;
  margin-left: 12px;
}

.schedule-delete-meta .value {
  color: #000000;
  font-weight: 600;
}

.schedule-delete-input {
  width: 100%;
  padding: 12px 14px;
  font-size: 9px;
  border-radius: 8px;
  border: none;
  background: #f9f9f9;
  box-sizing: border-box;
  color: #000000;
  margin-bottom: 16px;
}

.schedule-delete-input:focus {
  outline: none;
  background-color: #ffffff;
  box-shadow: 0 0 0 2px #111827;
}

.schedule-delete-button-row {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}

.schedule-delete-cancel-button {
  flex: 1;
  height: 44px;
  font-size: 12px;
  font-weight: 700;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color .2s;
}

.schedule-delete-confirm-button {
  flex: 1;
  height: 44px;
  font-size: 12px;
  font-weight: 700;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color .2s;
}

.schedule-delete-cancel-button {
  background-color: #f9f9f9;
  color: #000000;
  margin-right: 8px;
}

.schedule-delete-cancel-button:hover {
  background: #E8E9EC;
}

.schedule-delete-confirm-button {
  background-color: #00CBA8;
  color: white;
}

.schedule-delete-confirm-button:hover {
  background: #13BA9D;
}

.schedule-delete-confirm-button:disabled {
  background: #E8E9EC;
  color: #C0C0C0;
  cursor: not-allowed;
  transition: background-color 0.2s ease;
}
}