.schedule-detail-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.schedule-detail-modal-wrapper {
  background-color: #fff;
  width: 90%;
  max-width: 420px;
  height: auto;
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  font-family: "Pretendard", sans-serif;
  position: relative;
  display: flex;
  flex-direction: column;
}

.schedule-detail-title {
  font-size: 20px;
  font-weight: 800;
  text-align: center;
  color: #000000;
  margin-bottom: 20px;
}

.schedule-detail-section {
  background-color: #f9f9f9;
  padding: 24px;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  display: grid;
  grid-template-columns: 1fr 2fr;
  row-gap: 16px;
  font-size: 14px;
}

.schedule-detail-section .schedule-detail-label {
  font-weight: 600;
  color: #6B7280;
  text-align: left;
}

.schedule-detail-section .schedule-detail-value {
  text-align: left;
  color: #000000;
  font-weight: 600;
  line-height: 1.5;
  word-break: keep-all;
}

.schedule-detail-button-container {
  display: flex;
  justify-content: space-between;
}

.schedule-detail-delete-button {
  flex: 1;
  height: 44px;
  font-size: 14px;
  font-weight: 700;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.schedule-detail-cancel-button {
  flex: 1;
  height: 44px;
  font-size: 14px;
  font-weight: 700;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.schedule-detail-delete-button {
  background-color: #00CBA8;
  color: white;
}

.schedule-detail-delete-button:hover {
  background-color: #13BA9D;
}

.schedule-detail-cancel-button {
  background-color: #f9f9f9;
  color: #000000;
  margin-right: 8px;
}

.schedule-detail-cancel-button:hover {
background-color: #E8E9EC;
}

.schedule-detail-loading-text,
.schedule-detail-error-text {
  text-align: center;
  margin: 20px 0;
}


/* --------------------  모바일  -------------------- */
@media screen and (max-width: 768px) {
.schedule-detail-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  margin-top: -54px;
}

.schedule-detail-modal-wrapper {
  background-color: #fff;
  width: 75%;
  max-width: auto;
  height: auto;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  font-family: "Pretendard", sans-serif;
  position: relative;
  display: flex;
  flex-direction: column;
}

.schedule-detail-title {
  font-size: 16px;
  font-weight: 800;
  text-align: center;
  color: #000000;
  margin-bottom: 20px;
}

.schedule-detail-section {
  background-color: #f9f9f9;
  padding: 24px;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  display: grid;
  grid-template-columns: 1fr 2fr;
  row-gap: 16px;
  font-size: 11px;
}

.schedule-detail-section .schedule-detail-label {
  font-weight: 600;
  color: #6B7280;
  text-align: left;
}

.schedule-detail-section .schedule-detail-value {
  text-align: left;
  color: #000000;
  font-weight: 600;
  line-height: 1.5;
  word-break: keep-all;
}

.schedule-detail-button-container {
  display: flex;
  justify-content: space-between;
}

.schedule-detail-delete-button {
  flex: 1;
  height: 44px;
  font-size: 12px;
  font-weight: 700;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.schedule-detail-cancel-button {
  flex: 1;
  height: 44px;
  font-size: 12px;
  font-weight: 700;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.schedule-detail-delete-button {
  background-color: #00CBA8;
  color: white;
}

.schedule-detail-delete-button:hover {
  background-color: #13BA9D;
}

.schedule-detail-cancel-button {
  background-color: #f9f9f9;
  color: #000000;
  margin-right: 8px;
}

.schedule-detail-cancel-button:hover {
background-color: #E8E9EC;
}

.schedule-detail-loading-text,
.schedule-detail-error-text {
  text-align: center;
  margin: 20px 0;
}
}