/* 애니메이션 */
.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}

/* 공통 modal 오버레이 */
.schedule-create-modal-overlay {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  margin-top: 30px;
}

.schedule-create-modal-content {
  background-color: white;
  border-radius: 12px;
  width: 95%;
  max-width: 600px;
  height: 60vh;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  font-family: "Pretendard", sans-serif;
  position: relative;
  overflow: hidden; 
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}

.schedule-create-modal-content::-webkit-scrollbar {
  display: none;
}

.schedule-create-modal-scrollable {
  overflow-y: auto;
  padding: 0px 24px;
  flex: 1 1 auto;
}

.schedule-create-modal-scrollable::-webkit-scrollbar {
  display: none; 
}

/* 상단 이전버튼, 닫기버튼, 단계 */
.schedule-create-close-button {
  position: absolute;
  top: 18px;
  right: 18px;
  font-size: 24px;
  color: #aaa;
  background: none;
  border: none;
  cursor: pointer;
}

.schedule-create-close-button:hover {
  color: #10b981
}

.schedule-create-back-button {
  position: absolute;
  top: 18px;
  left: 18px;
  background: none;
  border: none;
  font-size: 24px;
  color: #aaa;
  cursor: pointer;
  z-index: 1;
}

.schedule-create-back-button:hover {
  color: #10b981
}

.schedule-create-step-indicator {
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  color: #9ca3af;
  margin-top: 60px;
}

.schedule-create-title {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #111827;
  margin-top: 20px;
  line-height: 1.5;
}


.schedule-create-section-card {
  margin-top: 40px;
  margin-bottom: 36px;
}

.schedule-create-form-inline {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  gap: 12px;
}

.schedule-create-inline-label {
  display: flex;
  width: 60px;
  font-size: 14px;
  font-weight: 500;
  color: #374151;
}

.schedule-create-inline-select {
  flex: 1;
  padding: 12px 14px;
  font-size: 12px;
  min-width: 450px;
  max-width: 450px;
  border: none;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-sizing: border-box;
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg fill='black' height='16' viewBox='0 0 24 24' width='16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 16px;
}

.schedule-create-inline-select:focus {
  outline: none;
  background-color: #ffffff;
  box-shadow: 0 0 0 2px #10b981;
}

.schedule-create-input {
  flex: 1;
  padding: 12px 14px;
  font-size: 12px;
  border-radius: 8px;
  min-width: 450px;
  max-width: 450px;
  border: none;
  background-color: #f9f9f9;
  box-sizing: border-box;
  transition: all 0.1s ease-in-out;
  color: #111827;
  border: 1px solid transparent;
}

.schedule-create-input:hover {
  background-color: #f3f4f6;
}

.schedule-create-input:focus {
  outline: none;
  background-color: #ffffff;
  box-shadow: 0 0 0 2px #10b981;
}

.schedule-create-textarea {
  width: 95%;
  height: 160px;
  padding: 60px 20px 20px 20px;
  font-size: 14px;
  line-height: 1.6;
  text-align: center;
  border-radius: 10px;
  background-color: #f9f9f9;
  border: 1px solid #e5e7eb;
  box-sizing: border-box;
  color: #111827;
  font-family: inherit;
  resize: none;
  margin: 0 auto;
  display: block;
  margin-top: 12px;
}

.schedule-create-textarea:focus {
  outline: none;
  background-color: #ffffff;
  box-shadow: 0 0 0 2px #10b981;
}

.schedule-create-form-label,
.schedule-create-form-label-with-info {
  font-size: 14px;
  font-weight: 500;
  color: #333;
}

.schedule-create-form-label-with-info {
  display: flex;
  align-items: center;
}

.schedule-create-no-pets-message {
  padding: 16px;
  font-size: 14px;
  font-weight: 500;
  color: #9ca3af;
  text-align: center;
}

.schedule-create-pet-select-container {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  padding: 0;
  list-style: none;
  justify-content: space-between;
  max-height: 320px; 
  overflow-y: auto;
}

.schedule-create-pet-select-container::-webkit-scrollbar {
  display: none;
}

.schedule-create-pet-select-container {
  scrollbar-width: none; 
}

.schedule-create-pet-select-card {
  display: flex;
  align-items: center;
  gap: 16px;
  flex: 0 0 calc(50% - 8px);
  max-width: calc(50% - 8px);
  background: #f9f9f9;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  padding: 10px 16px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.03);
  transition: background-color 0.4s ease;
}

.schedule-create-pet-select-card:hover {
  transform: scale(1.015);
  background-color: #f3f4f6;
}

.schedule-create-pet-select-card.selected {
  transition: background-color 0.4s ease;
  background-color: #e6e6e6;
  border: 1px solid #dfdfdf;
}

.schedule-create-pet-image {
  width: 48px;
  height: 48px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid #e5e7eb;
  margin-right: 12px;
}

.schedule-create-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; 
  min-width: 0;
  flex: 1;
}

.schedule-create-name {
  font-weight: 600;
  font-size: 14px;
  color: #111;
  line-height: 1.2;
  min-height: 20px;    
  white-space: nowrap;
}

.schedule-create-species {
  font-size: 13px;
  color: #777;
  line-height: 1.2;
  min-height: 18px;     
  white-space: nowrap;
}

/* ===== 공통 스타일 ===== */
.schedule-create-section-card-step3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9f9f9;
  width: 100%;
  padding: 20px 40px;
  border-radius: 12px;
  margin-top: 50px;
}

.schedule-create-form-step3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  margin-top: 10px;
  margin-bottom: 10px;
  align-self: start;
}

.schedule-create-form-label-with-info i,
.schedule-create-info-icon {
  margin-left: 6px;
  font-size: 12px;
  color: #aaa;
  cursor: help;
}

.schedule-create-tooltip-container {
  position: relative;
  display: inline-block;
}

.schedule-create-tooltip-text {
  visibility: hidden;
  opacity: 0;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 6px 10px;
  border-radius: 8px;
  position: absolute;
  z-index: 100;
  bottom: 125%;
  left: 0;
  font-size: 13px;
  line-height: 1.4;
  white-space: normal;
  min-width: 300px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  transition: opacity 0.2s ease;
}

.schedule-create-tooltip-container:hover .schedule-create-tooltip-text {
  visibility: visible;
  opacity: 1;
}

/* ===== 스위치 ===== */
.schedule-create-switch {
  position: relative;
  display: inline-block;
  width: 42px;
  height: 24px;
}

.schedule-create-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.schedule-create-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 24px;
}

.schedule-create-slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .schedule-create-slider {
  background-color: #10b981;
}

input:checked + .schedule-create-slider:before {
  transform: translateX(18px);
}

/* ===== 반복 선택 버튼 ===== */
.schedule-create-day-button {
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-radius: 16px;
  background-color: #f9f9f9;
  font-size: 13px;
  cursor: pointer;
  transition: all 0.2s;
}

.schedule-create-day-button.selected {
  background-color: #10b981;
  color: white;
  border-color: #10b981;
}

.schedule-create-repeat-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 12px;
  padding-top: 4px;
  justify-content: center;
}

/* ===== 캘린더 ===== */
.schedule-create-custom-small-calendar {
  border: none;
  width: 100%;
  font-family: "Pretendard", sans-serif;
}

.schedule-create-custom-small-calendar .react-calendar__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.schedule-create-custom-small-calendar .react-calendar__navigation button {
  background: none;
  border: none;
  color: #333;
  font-size: 16px;
  padding: 6px 10px;
  cursor: pointer;
  font-weight: 800;
  margin-bottom: 12px;
}

.schedule-create-custom-small-calendar .react-calendar__month-view__weekdays {
  display: flex;
  justify-content: space-around;
  text-align: center;
  font-size: 13px;
  font-weight: 700;
  color: #333;
  margin-bottom: 8px;
}

.schedule-create-custom-small-calendar .react-calendar__tile {
  border: none;
  background: none;
  text-align: center;
  padding: 16px 12px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 5px;
  transition: background-color 0.2s;
  position: relative;
}

.schedule-create-custom-small-calendar .react-calendar__tile:enabled:hover {
  background-color: #f0f0f0;
}

.schedule-create-custom-small-calendar .react-calendar__tile--now {
  color: #10b981;
  font-weight: 800;
}

.schedule-create-selected-date,
.schedule-create-custom-small-calendar .react-calendar__tile--active {
  background-color: #137a5c !important;
  color: white !important;
  font-weight: 700;
}

.schedule-create-selected-dates-title {
  font-size: 12px;
  font-weight: 600;
  color: #333;
  margin-bottom: 12px;
  text-align: center;
}

.schedule-create-selected-dates {
  margin-top: 10px;
  padding: 18px 16px;
  background-color: #f5f5f5;
  border-radius: 12px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.schedule-create-selected-dates-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  width: 100%;
}

.schedule-create-date-time-selection {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-size: 12px;
  font-weight: 600;
  color: #333;
  text-align: center;
  padding: 10px 0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.03);
}

.schedule-create-priority {
  display: flex;
  justify-content: center;
  background-color: #f9f9f9;
  width: 100%;
  padding: 120px;
  border-radius: 8px;
  margin-top: 50px;
}

.schedule-create-priority-select {
  display: flex;
  gap: 40px;
}

.schedule-create-priority-option {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  padding: 12px;
  border-radius: 8px;
  font-size: 12px;
  background-color: #ffffff;
  transition: all 0.2s ease;
}

.schedule-create-priority-option:hover {
  background-color: #f4f4f4;
}

.schedule-create-priority-option.selected {
  border: none;
  background-color: rgba(51, 51, 51, 0.1);
  border-radius: 6px;
}

.schedule-create-priority-dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.priority-low {
  background-color: #34d399;
}
.priority-medium {
  background-color: #fbbf24;
}
.priority-high {
  background-color: #f87171;
}

/* 5단계 */
.schedule-create-alert-section-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  background-color: #f9f9f9;
  width: 100%;
  padding: 100px;
  border-radius: 12px;
  margin-top: 50px;
}

.schedule-create-alert-group {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 360px; 
  margin-left: 180px;
}

.schedule-create-alert-row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}

.schedule-create-alert-label {
  width: 90px;
  font-size: 14px;
  font-weight: 500;
  color: #374151;
  display: flex;
  align-items: center;
  gap: 4px;
}

.schedule-create-alert-select {
  padding: 10px 14px;
  font-size: 12px;
  min-width: 120px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: #ffffff;
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='black' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 14px;
  transition: all 0.2s ease;
}

.schedule-create-alert-select:focus {
  outline: none;
}

.schedule-create-bottom-btn {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;

}

.schedule-create-next-btn {
  width: 90%;
  padding: 14px;
  font-size: 14px;
  font-weight: 600;
  background-color: #10b981;
  color: #fff;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.schedule-create-next-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.schedule-create-submit-btn {
  background-color: #ff5a3c;
  color: white;
}

.schedule-create-cancel-btn {
  background-color: #eee;
  color: #333;
}