.friendPageContainer {
    padding-top: 60px;
    display: flex;
    justify-content: center;
}

.card {
    width: 40%;
    height: 80vh; 
    margin: 40px auto 0 auto; 
    padding: 30px;
    font-family: 'Pretendard', sans-serif;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.05);
}


.tabBar {
    display: flex;
    justify-content: space-around;
    margin-top: 16px;
    gap: 16px;
    margin-bottom: 32px;
    border-bottom: 1px solid #ddd;
}

.tab {
    background: none;
    border: none;
    font-size: 16px;
    padding: 12px 8px;
    cursor: pointer;
    border-bottom: 3px solid transparent;
    color: #888;
}

.tab.active {
    color: #ff4e50;
    font-weight: bold;
    border-bottom: 3px solid #ff4e50;
}

.tabContent {
    margin-top: 24px;
}