.friendCard {
    display: flex;
    align-items: center;
    border: 1px solid #eee;
    border-radius: 16px;
    padding: 16px;
    background-color: #fcfcfc;
    margin-bottom: 16px;
    width: 100%;
    max-width: 600px;
    box-shadow: none;

}

.friendImage {
    max-width: 60px;
    max-height: 60px;
    margin-left: 20px;
}

.friendTextBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    flex: 1;
}

.friendName {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.friendImage {
    width: 100px;
    height: 100px;
}

.friendActions {
    display: flex;
    gap: 8px;
}

.accept-button,
.reject-button {
    padding: 6px 12px;
    font-size: 14px;
    border: 1px solid #aaa;
    background-color: white;
    cursor: pointer;
    border-radius: 4px;
}

.accept-button:hover {
    font-weight: bold;
}

.reject-button:hover {
    font-weight: bold;
}