/* 전체 페이지 레이아웃 조정 */
.friendPageContainer {
    min-width: 360px; 
    max-width: 600px;
    height: 80vh;
    margin: 120px auto 0 auto;
    padding: 30px;
    font-family: 'Pretendard', sans-serif;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  
  .friendContentWrapper {
    max-width: 720px;
    margin: 0 auto;
    padding-top: 20px;
  }
  
  /* 검색 바 */
  .friendSearchBar {
    display: flex;
    align-items: center;
    padding: 0px;
    margin-bottom: 16px;
    width: 90%; 
    margin: 0 auto 16px;
  }
  
  .friendSearchBar input {
    flex: 1;
    padding: 12px 16px;
    font-size: 12px;
    font-weight: 500;
    border: none;
    border-radius: 6px;
    background-color: #F5F5F5;
    outline: none;
    color: #111827;
  }
  
  .friendSearchBar input::placeholder {
    color: #9ca3af;
  }
  
  .searchIconButton {
    background: none;
    border: none;
    margin-left: -36px;
    color: #000000;
    cursor: pointer;
  }

  .searchIconButton svg {
    font-size: 20px; 
  }
  
  /* 탭바 */
  .tabBar {
    display: flex;
    margin: 12px 0 32px ;
    background-color: transparent;
  }
  
  .tab {
    position: relative;
    background: none;
    border: none;
    cursor: pointer;
    flex: 1;
    text-align: center;
    padding: 12px 0;
    font-size: 15px;
    font-weight: 600;
    color: #7d8087;
  }
  
  .tab span {
    position: relative;
    display: inline-block;
  }
  
  .tab.active {
    color: #121213;
    font-weight: 800;
  }
  
  .tab.active span::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -12px;
    width: 100%;
    height: 3px;
    background-color: #111827;
    border-radius: 3px;
  }

  .tabContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }

  .tabLabel {
    display: flex;
    flex-direction: row;
  }

  .friendCount {
    font-size: 13px;
    margin-left: 8px;
    color: #9ca3af;
  }

  .friendCount::after {
    content: none !important;
  }
  
  /* 검색 결과 */
  .search-results {
    width: 90%;
    min-height: 90%;
    background-color: #f5f5f5;
    border-radius: 8px;
    padding: 24px;
    margin: 12px auto;
    margin-bottom: 12px;
  }
  
  .search-results ul {
    padding-left: 0;
    margin: 0;
  }

  .search-result-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    padding: 20px 12px 20px 12px;
    background-color: #ffffff;
    margin: 0 auto 0 auto; 
    width: 100%;
    max-width: 600px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  }
  
  .search-result-info {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 15px;
    font-weight: 600;
    margin-left: 8px;
  }
  
  .profile-image {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    object-fit: cover;
    background-color: #f3f4f6;
  }

  .send-request-button {
    background-color: #5C5C5C;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    font-size: 11px;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.2s ease;
    margin-right: 12px;
  }
  
  .send-request-button:hover {
    background-color: #4b4848;
  }

  .search-results-error-message {
    text-align: center;
    margin-top: 40px;
    font-size: 15px;
    color: #9ca3af;
    font-weight: 500;
  }

  .no-results {
    text-align: center;
    margin-top: 40px;
    font-size: 15px;
    color: #9ca3af;
    font-weight: 500;
  }