.frienddetail-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.frienddetail-modal-content {
  background-color: #fff;
  width: 90%;
  max-width: 420px;
  height: auto;
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  font-family: "Pretendard", sans-serif;
  position: relative;
}

.frienddetail-close-button {
  position: absolute;
  top: 12px;
  right: 12px;
  font-size: 24px;
  color: #aaa;
  background: none;
  border: none;
  cursor: pointer;
}

.frienddetail-close-button:hover {
  color: #10b981;
}

.frienddetail-profile-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
}

.frienddetail-profile-image {
  display: block;
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 50%;
  background-color: #f3f4f6;
  margin-right: 10px;
}

.frienddetail-friend-name {
  font-size: 16px;
  font-weight: 700;
  color: #000000;
}

.frienddetail-pet-section {
  margin-top: 24px;
  text-align: left;
}

.frienddetail-section-title {
  font-size: 14px;
  font-weight: 400;
  color: #000000;
  margin-bottom: 12px;
}

.frienddetail-pet-list {
  list-style: none;
  padding: 16px;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: flex-start;
  background-color: #f3f4f6;
  border-radius: 8px;
  box-sizing: border-box;
}

.frienddetail-pet-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60px;
  gap: 6px;
}

.frienddetail-pet-image {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.frienddetail-pet-name {
  font-size: 12px;
  font-weight: 600;
  color: #000000;
}

.frienddetail-empty-text {
  width: 100%;
  text-align: center;
  background-color: #f3f4f6;
  border-radius: 12px;
  padding: 20px 12px;
  font-size: 14px;
  color: #6b7280;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* --------------------  모바일  -------------------- */
@media screen and (max-width: 768px) {
  .frienddetail-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.frienddetail-modal-content {
  background-color: #fff;
  width: 80%;
  max-width: auto;
  height: auto;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  font-family: "Pretendard", sans-serif;
  position: relative;
}

.frienddetail-close-button {
  position: absolute;
  top: 12px;
  right: 12px;
  font-size: 20px;
  color: #aaa;
  background: none;
  border: none;
  cursor: pointer;
}

.frienddetail-close-button:hover {
  color: #10b981;
}

.frienddetail-profile-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.frienddetail-profile-image {
  display: block;
  width: 24px;
  height: 24px;
  object-fit: cover;
  border-radius: 50%;
  background-color: #f3f4f6;
  margin-right: 8px;
}

.frienddetail-friend-name {
  font-size: 14px;
  font-weight: 700;
  color: #000000;
}

.frienddetail-pet-section {
  margin-top: 20px;
  text-align: left;
}

.frienddetail-section-title {
  font-size: 13px;
  font-weight: 500;
  color: #000000;
  margin-bottom: 12px;
}

.frienddetail-pet-list {
  list-style: none;
  padding: 12px;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 0px;
  justify-content: flex-start;
  background-color: #f3f4f6;
  border-radius: 8px;
  box-sizing: border-box;
}

.frienddetail-pet-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60px;
  gap: 6px;
}

.frienddetail-pet-image {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.frienddetail-pet-name {
  font-size: 10px;
  font-weight: 600;
  color: #000000;
}

.frienddetail-empty-text {
  width: 100%;
  text-align: center;
  background-color: #f3f4f6;
  border-radius: 12px;
  padding: 20px 12px;
  font-size: 14px;
  color: #6b7280;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}
}