.post-delete-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.post-delete-container {
  background-color: var(--color-main2);
  width: 90%;
  max-width: 420px;
  height: auto;
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  font-family: "Pretendard", sans-serif;
  position: relative;
}

.post-delete-title { 
  font-size: 20px;
  font-weight: 800;
  text-align: left;
  color: var(--color-text);
  margin-bottom: 8px;
  margin-left: 4px;
}

.post-delete-description { 
  font-size: 13px;
  font-weight: 500;
  text-align: left;
  color: var(--color-subtext);
  margin-bottom: 12px;
  margin-left: 4px;
}

.post-delete-description strong { 
  font-weight: 600;
  color: var(--color-text);
}

.post-delete-input {
  width: 100%;
  padding: 12px 14px;
  font-size: 12px;
  border-radius: 8px;
  border: none;
  background-color: var(--color-main1);
  box-sizing: border-box;
  margin-top: 20px;
  margin-bottom: 32px;
  color: var(--color-text);
}

.post-delete-input:focus { 
  outline: none;
  background-color: var(--color-main2);
  box-shadow: 0 0 0 2px var(--color-point2-hover);
}

.post-delete-button-row { 
  display: flex;
  justify-content: space-between;
}

.post-delete-cancel-button {
  flex: 1;
  height: 44px;
  font-size: 14px;
  font-weight: 700;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease;
} 

.post-delete-confirm-button {
  flex: 1;
  height: 44px;
  font-size: 14px;
  font-weight: 700;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.post-delete-cancel-button { 
  background-color: var(--color-main1);
  color: var(--color-text);
  margin-right: 8px;
}

.post-delete-cancel-button:hover { 
  background-color: var(--color-main1-hover);
}

.post-delete-confirm-button {
  background-color: var(--color-point);
  color: var(--color-main2);
}

.post-delete-confirm-button:hover { 
  background-color: var(--color-point-hover);
}

.post-delete-confirm-button:disabled {
  background: var(--color-disable) !important;
  color: var(--color-disable-text) !important;
  cursor: not-allowed;
  transition: background-color 0.2s ease;
}

/* --------------------  모바일  -------------------- */
@media screen and (max-width: 768px) {
 .post-delete-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  .post-delete-container {
    background-color: var(--color-main2);
    width: 75%;
    max-width: auto;
    height: auto;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
    font-family: "Pretendard", sans-serif;
    position: relative;
  }

  .post-delete-title { 
    font-size: 16px;
    font-weight: 800;
    text-align: left;
    color: var(--color-text);
    margin-bottom: 4px;
    margin-left: 4px;
  }

  .post-delete-description { 
    font-size: 10px;
    font-weight: 500;
    text-align: left;
    color: var(--color-subtext);
    margin-bottom: 24px;
    margin-left: 4px;
  }

  .post-delete-description strong { 
    font-weight: 600;
    color: var(--color-text);
  }

  .post-delete-input {
    width: 100%;
    padding: 12px 14px;
    font-size: 9px;
    border-radius: 8px;
    border: none;
    background-color: var(--color-main1);
    box-sizing: border-box;
    margin-top: 0px;
    margin-bottom: 32px;
    color: var(--color-text);
  }

  .post-delete-input:focus { 
    outline: none;
    background-color: var(--color-main2);
    box-shadow: 0 0 0 2px var(--color-point2-hover);
  }

  .post-delete-button-row { 
    display: flex;
    justify-content: space-between;
  }

  .post-delete-cancel-button {
    flex: 1;
    height: 44px;
    font-size: 12px;
    font-weight: 700;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  } 

  .post-delete-confirm-button {
    flex: 1;
    height: 44px;
    font-size: 12px;
    font-weight: 700;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }

  .post-delete-cancel-button { 
    background-color: var(--color-main1);
    color: var(--color-text);
    margin-right: 8px;
  }

  .post-delete-cancel-button:hover { 
    background-color: var(--color-main1-hover);
  }

  .post-delete-confirm-button {
    background-color: var(--color-point);
    color: var(--color-main2);  
  }

  .post-delete-confirm-button:hover { 
    background-color: var(--color-point-hover);
  }

  .post-delete-confirm-button:disabled {
    background: var(--color-disable) !important;
    color: var(--color-disable-text) !important;
    cursor: not-allowed;
    transition: background-color 0.2s ease;
  }
}