.alertmodal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
}

.alertmodal-container {
  background: var(--color-main2);
  border-radius: 10px;
  padding: 32px 32px 20px 32px;
  width: auto;
  text-align: center;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.alertmodal-message {
  font-size: 16px;
  font-weight: 600;
  color: var(--color-text);
  margin-bottom: 32px;
  line-height: 1.5;
  white-space: pre-line; 
  padding: 0px 20px;
}

.alertmodal-button {
  background-color: var(--color-point);
  border: none;
  color: var(--color-main2);
  font-weight: 600;
  padding: 14px 24px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.2s ease;
  width: 100%;
}

.alertmodal-button:hover {
  background-color: var(--color-point-hover);
}

/* --------------------  모바일  -------------------- */
@media screen and (max-width: 768px) {
  .alertmodal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2000;
  }

  .alertmodal-container {
    background: var(--color-main2);
    border-radius: 10px;
    padding: 20px;
    width: auto;
    text-align: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  }

  .alertmodal-message {
    font-size: 13px;
    font-weight: 600;
    color: var(--color-text);
    margin-bottom: 20px;
    line-height: 1.5;
    white-space: pre-line; 
    padding: 0px 12px;
  }

  .alertmodal-button {
    background-color: var(--color-point);
    border: none;
    color: var(--color-main2);
    font-weight: 600;
    padding: 10px 24px;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.2s ease;
    width: 100%;
  }

  .alertmodal-button:hover {
    background-color: var(--color-point-hover);
  }
}