.alertmodal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
}

.alertmodal-container {
  background: #fff;
  border-radius: 10px;
  padding: 32px 32px 20px 32px;
  width: auto;
  text-align: center;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.alertmodal-message {
  font-size: 16px;
  font-weight: 600;
  color: #000;
  margin-bottom: 32px;
  line-height: 1.5;
  white-space: pre-line; 
}

.alertmodal-button {
  background-color: #00CBA8;
  border: none;
  color: white;
  font-weight: 600;
  padding: 14px 24px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.2s ease;
  width: 100%;
}

.alertmodal-button:hover {
  background-color: #00b398;
}

/* --------------------  모바일  -------------------- */
@media screen and (max-width: 768px) {
  .alertmodal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2000;
  }

  .alertmodal-container {
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    width: 50%;
    text-align: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  }

  .alertmodal-message {
    font-size: 13px;
    font-weight: 600;
    color: #000;
    margin-bottom: 32px;
    line-height: 1.5;
    white-space: pre-line; 
  }

  .alertmodal-button {
    background-color: #00CBA8;
    border: none;
    color: white;
    font-weight: 600;
    padding: 10px 24px;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.2s ease;
    width: 100%;
  }

  .alertmodal-button:hover {
    background-color: #00b398;
  }
}