.loginPage {
    background-color: #F2F2F2;
    background-size: 100% 100%;
    background-position: center; 
    background-repeat: no-repeat; 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.loginPageContainer {
    display: flex;
    width: 60vw;
    height: 70vh;
    background-color: rgba(255, 255, 255, 0.5); 
    border-radius: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;

    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 0.8s ease forwards;
}

.loginLeftSection {
    flex: 1;
    background-color: #bfbfbf;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.loginImage {
    max-width: 30%;
    max-height: 100%;
    object-fit: cover;
}

.loginRightSection {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9); 
    width: 100%;
    overflow: hidden;
}

.fullGroup {
    width: 15vw; 
    max-width: 300px; 
    min-width: 180px; 
}

.loginFormGroup {
    margin: 0 auto; 
    width: 100%; 
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.inputGroup {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 1rem; 
}

.loginFormGroup label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #000000;
    text-align: left; 
    font-weight: 700;
}

.loginFormGroup input {
    width: 100%;
    padding: 0.5rem;
    border: none;
    border-radius: 2px;
    font-size: 10px;
    background-color: #e8e8e8;
    box-sizing: border-box;
}

.kakaoWithGuest {
    width: 100%; 
    display: flex;
    justify-content: space-between; 
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    gap: 25px; 
}

.kakaoLoginButton {
    background: none;
    border: none;
    padding: 0px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15vw; 
    max-width: 300px; 
    min-width: 180px; 
    height: 48px; 
}

.kakaoSymbol {
    width: 100% !important;
    height: auto;
}

.guestLoginButton {
    width: 15vw; 
    max-width: 300px; 
    min-width: 180px; 
    background-color: #bfbfbf;
    color: #3C1E1E;  
    font-weight: 800;
    font-size: 12px;
    border: none;
    padding: 15px;
    border-radius: 6px;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.8s ease;
    height: 42px; 
    box-sizing: border-box; 
}

.guestLoginButton:hover {
    background-color: #5c5c5c;
    color: #ffffff; 
    transition: background-color 0.8s ease;
    font-weight: 800;
}

.loginButtonGroup {
    display: flex;
    align-items: center;
    width: 100%; 
    position: relative; 
    margin-top: 3rem;
    gap: 1.5rem;
}

.loginButtonGroup button {
    flex: 1;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    font-size: 0.8rem;
    cursor: pointer;
    background-color: #5c5c5c;
    transition: background-color 0.5s ease;
    margin: 0;
    font-weight: 500;
    color: #ffffff;
    height: 4vh;
    font-weight: 700;
}

.loginButtonGroup button:hover {
    background-color: #333333;
    color: #ffffff;
}

.loginButtonGroup button[type="submit"] {
    background-color: #57687c;
    color: #ffffff; 
    transition: background-color 0.5s ease; 
}

.loginButtonGroup button[type="submit"]:hover {
    background-color: #2C3E50;
}

.error {
    color: rgb(195, 33, 33);
    font-size: 12px;
    margin-top: 0.5rem;
    text-align: left;
    display: block;
    height: 0.2rem;
}