.careGiverPetsContainer {
    padding: 20px;
}

.careGiverPetsHeader {
    font-size: 24px;
    margin-bottom: 20px;
}

.careGiverPetsList {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 1000px;
}

.careGiverPetCard {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    width: 250px;
    text-align: center;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.careGiverPetImage {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.careGiverPetsError {
    color: red;
    font-size: 18px;
}

.deleteCareGiverButton {
    margin-top: 0.5rem;
    padding: 0.4rem 0.8rem;
    background-color: #ff4d4f;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
    
}

