.care-giver-list-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.care-giver-list-modal {
  background-color: #fff;
  width: 90%;
  max-width: 420px;
  height: auto;
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  font-family: "Pretendard", sans-serif;
  position: relative;
  justify-items: center;
}

.care-giver-list-close {
  position: absolute;
  top: 12px;
  right: 12px;
  font-size: 24px;
  color: #aaa;
  background: none;
  border: none;
  cursor: pointer;
}

.care-giver-list-close:hover {
  color: #10b981;
}

.care-giver-list-title {
  font-size: 20px;
  font-weight: 800;
  margin-top: 20px;
  margin-bottom: 32px;
  text-align: center;
  color: #000000;
}

.care-giver-list-list {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  gap: 20px;
  max-height: 320px;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  background-color: #f9f9f9;
  border-radius: 12px;
  padding: 32px 4px;
}

.care-giver-list-list::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.care-giver-list-card {
  min-width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  border-radius: 12px;
  padding: 16px 16px 16px 28px;
  background-color: #ffffff;
  transition: background-color 0.3s ease;
}

.care-giver-list-card:hover {
  background-color: #eeeeee;
}

.care-giver-list-left {
  display: flex;
  align-items: center;
  gap: 8px;
}

.care-giver-list-friend-image {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 8px;
}

.care-giver-list-name {
  flex: 1;
  font-size: 14px;
  font-weight: 600;
}

.care-giver-list-button {
  background-color: #3a3a3a;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 8px 12px;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.care-giver-list-button:hover {
  background-color: #000000;
}

.care-giver-list-empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 60px 20px;
  margin: 4px auto 20px auto;
  background-color: #f4f4f4;
  border-radius: 12px;
  width: 70%;
  max-width: 400px;
}

.care-giver-list-empty-title {
  font-size: 14px;
  color: #000;
  font-weight: 600;
}

.care-giver-list-empty-sub {
  font-size: 12px;
  color: #6B7280;
  font-weight: 400;
  margin-top: 8px;
}

/* --------------------  모바일  -------------------- */
@media screen and (max-width: 768px) {
.care-giver-list-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.care-giver-list-modal {
  background-color: #fff;
  width: 75%;
  max-width: auto;
  height: auto;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  font-family: "Pretendard", sans-serif;
  position: relative;
  justify-items: center;
}

.care-giver-list-close {
  position: absolute;
  top: 12px;
  right: 12px;
  font-size: 20px;
  color: #aaa;
  background: none;
  border: none;
  cursor: pointer;
}

.care-giver-list-close:hover {
  color: #10b981;
}

.care-giver-list-title {
  font-size: 16px;
  font-weight: 800;
  margin-top: 20px;
  margin-bottom: 24px;
  text-align: center;
  color: #000000;
}

.care-giver-list-list {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  gap: 20px;
  max-height: 320px;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  background-color: #f9f9f9;
  border-radius: 12px;
  padding: 24px 4px;
  margin: auto;
}

.care-giver-list-list::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.care-giver-list-card {
  min-width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  border-radius: 8px;
  padding: 16px 16px 16px 28px;
  background-color: #ffffff;
  transition: background-color 0.3s ease;
}

.care-giver-list-card:hover {
  background-color: #eeeeee;
}

.care-giver-list-left {
  display: flex;
  align-items: center;
  gap: 4px;
}

.care-giver-list-friend-image {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 4px;
}

.care-giver-list-name {
  flex: 1;
  font-size: 12px;
  font-weight: 600;
}

.care-giver-list-button {
  background-color: #3a3a3a;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px;
  font-size: 9px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.care-giver-list-button:hover {
  background-color: #000000;
}

.care-giver-list-empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 60px 20px;
  margin: 4px auto 20px auto;
  background-color: #f4f4f4;
  border-radius: 12px;
  width: 70%;
  max-width: 400px;
}

.care-giver-list-empty-title {
  font-size: 12px;
  color: #000;
  font-weight: 600;
}

.care-giver-list-empty-sub {
  font-size: 10px;
  color: #6B7280;
  font-weight: 400;
  margin-top: 8px;
}
}