.fade-enter {
  opacity: 0;
  transform: translateX(20px);
}
.fade-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 300ms ease-in-out;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transform: translateX(-20px);
  transition: all 300ms ease-in-out;
}

.pet-edit-modal-overlay {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.pet-edit-modal-content {
  background-color: var(--color-main2);
  width: 90%;
  max-width: 420px;
  height: auto;
  max-height: 90vh;
  padding: 12px 12px 0px 12px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  font-family: "Pretendard", sans-serif;
  position: relative;
  overflow: visible !important; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pet-edit-close {
  position: absolute;
  top: 18px;
  right: 18px;
  font-size: 24px;
  color: #aaa;
  background: none;
  border: none;
  cursor: pointer;
}

.pet-edit-close:hover {
  color: var(--color-point-hover);
}

.pet-edit-back-button {
  position: absolute;
  top: 18px;
  left: 18px;
  background: none;
  border: none;
  font-size: 24px;
  color: #aaa;
  cursor: pointer;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pet-edit-back-button:hover {
  color: var(--color-point-hover);
}

.pet-edit-step-indicator {
  font-size: 14px;
  font-weight: 500;
  color: var(--color-subtext);
  margin-bottom: 20px;
  text-align: center;
  margin-top: 32px;
}

.pet-edit-step-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 12px 12px 0px 12px;
}

.pet-edit-step-content {
  margin-top: 0;
  padding-top: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 100px;
}

.pet-edit-title {
  font-size: 20px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 20px;
  color: var(--color-text);
  text-align: center;
}

.pet-edit-step2-group {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  margin-top: 12px;
  width: 100%;
}

.pet-edit-form-inline {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  gap: 0px;
  width: 80%;
}

.pet-edit-inline-label {
  width: 60px;
  font-size: 14px;
  font-weight: 600;
  color: var(--color-text);
}

.pet-edit-input {
  flex: 1;
  padding: 12px 16px;
  font-size: 12px;
  border-radius: 8px;
  border: none;
  background-color: var(--color-main1);
  box-sizing: border-box;
  transition: all 0.1s ease-in-out;
  color: var(--color-text);
  border: 1px solid transparent;
}

.pet-edit-inline-select:focus,
.pet-edit-input:focus {
  outline: none;
  background-color: var(--color-main2);
  box-shadow: 0 0 0 2px var(--color-point2);
}

.pet-edit-image-box {
  width: 100%;
  margin-top: 12px;
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.pet-edit-image-placeholder {
  border: 2px dashed #CBCBCB;
  border-radius: 12px;
  padding: 60px 0;
  width: 100%;
  max-width: 280px;
  text-align: center;
  font-size: 14px;
  color: var(--color-subtext);
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.pet-edit-file-button {
  background-color: var(--color-main1);
  color: var(--color-text);
  border: none;
  padding: 16px;
  width: 100%;
  font-size: 12px;
  font-weight: 600;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.pet-edit-file-button input[type="file"] {
  display: none;
}

.pet-edit-image-preview {
  width: 140px;
  height: 140px;
  border-radius: 20px;
  object-fit: cover;
  background-color: var(--color-main1);
  margin-top: -12px;
}

.pet-edit-image-preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pet-edit-file-clear {
  background-color: var(--color-main1);
  color: var(--color-text);
  padding: 12px 32px;
  font-size: 13px;
  font-weight: 600;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.pet-edit-content-textarea {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
  margin-bottom: 12px;
}

.pet-edit-textarea {
  width: 95%;
  height: 120px;
  padding: 48px 20px 20px 20px;
  font-size: 14px;
  line-height: 1.6;
  text-align: center;
  border-radius: 10px;
  background-color: var(--color-main1);
  border: none;
  box-sizing: border-box;
  color: var(--color-point2);
  font-family: inherit;
  resize: none;
}

.pet-edit-textarea:focus {
  outline: none;
  background-color: var(--color-main2);
  box-shadow: 0 0 0 2px var(--color-point2);
}

.pet-edit-button-row {
  position: absolute;
  bottom: 24px;
  left: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
}

.pet-edit-next-button {
  width: 100%;
  height: 48px;
  padding: 14px;
  font-size: 14px;
  font-weight: 600;
  background-color: var(--color-point);
  color: var(--color-main2);
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pet-edit-next-button:disabled {
  background: var(--color-disable) !important;
  color: var(--color-disable-text) !important;
  cursor: not-allowed;
  transition: background-color 0.2s ease;
}

.pet-edit-next-button:hover {
  background-color: var(--color-point-hover);
}

/* --------------------  모바일  -------------------- */
@media screen and (max-width: 768px) {

.pet-edit-modal-overlay {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: var(--app-height);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  margin-top: 0px;
}

.pet-edit-modal-content {
  background-color: var(--color-main2);
  width: 80%;
  max-width: 420px;
  height: auto;
  max-height: 90vh;
  padding: 12px 12px 0px 12px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  font-family: "Pretendard", sans-serif;
  position: relative;
  overflow: visible !important; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pet-edit-close {
  position: absolute;
  top: 18px;
  right: 18px;
  font-size: 20px;
  color: #aaa;
  background: none;
  border: none;
  cursor: pointer;
}

.pet-edit-close:hover {
  color: var(--color-point-hover);
}

.pet-edit-back-button {
  position: absolute;
  top: 18px;
  left: 18px;
  background: none;
  border: none;
  font-size: 20px;
  color: #aaa;
  cursor: pointer;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pet-edit-back-button:hover {
  color: var(--color-point-hover);
}

.pet-edit-step-indicator {
  font-size: 12px;
  font-weight: 500;
  color: var(--color-subtext);
  margin-bottom: 12px;
  text-align: center;
  margin-top: 24px;
}

.pet-edit-step-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 12px 12px 0px 12px;
}

.pet-edit-step-content {
  margin-top: 0;
  padding-top: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 90px;
}

.pet-edit-title {
  font-size: 16px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 20px;
  color: var(--color-text);
  text-align: center;
}

.pet-edit-step2-group {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  margin-top: 12px;
  width: 100%;
}

.pet-edit-form-inline {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  gap: 0px;
  width: 80%;
  margin-right: 12px;
}

.pet-edit-inline-label {
  width: 60px;
  font-size: 11px;
  font-weight: 600;
  color: var(--color-text);
}

.pet-edit-input {
  flex: 1;
  padding: 12px;
  font-size: 10px;
  border-radius: 8px;
  border: none;
  background-color: var(--color-main1);
  box-sizing: border-box;
  transition: all 0.1s ease-in-out;
  color: var(--color-text);
  border: 1px solid transparent;
}

.pet-edit-inline-select:focus,
.pet-edit-input:focus {
  outline: none;
  background-color: var(--color-main2);
  box-shadow: 0 0 0 2px var(--color-point2);
}

.pet-edit-image-box {
  width: 100%;
  margin-top: 12px;
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.pet-edit-image-placeholder {
  border: 2px dashed #CBCBCB;
  border-radius: 12px;
  padding: 48px 0;
  width: 80%;
  max-width: 280px;
  text-align: center;
  font-size: 12px;
  color: var(--color-subtext);
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.pet-edit-file-button {
  background-color: var(--color-main1);
  color: var(--color-text);
  border: none;
  padding: 16px;
  width: 100%;
  font-size: 11px;
  font-weight: 600;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.pet-edit-file-button input[type="file"] {
  display: none;
}

.pet-edit-image-preview {
  width: 100px;
  height: 100px;
  border-radius: 20px;
  object-fit: cover;
  background-color: var(--color-main1);
  margin-top: -12px;
}

.pet-edit-image-preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.pet-edit-file-clear {
  background-color: var(--color-main1);
  color: var(--color-text);
  padding: 12px 28px;
  font-size: 11px;
  font-weight: 600;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.pet-edit-content-textarea {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
  margin-bottom: 12px;
}

.pet-edit-textarea {
  width: 80%;
  height: 100px;
  padding: 40px 20px 20px 20px;
  font-size: 11px;
  line-height: 1.5;
  text-align: center;
  border-radius: 10px;
  background-color: var(--color-main1);
  border: none;
  box-sizing: border-box;
  color: var(--color-text);
  font-family: inherit;
  resize: none;
}

.pet-edit-textarea:focus {
  outline: none;
  background-color: var(--color-main2);
  box-shadow: 0 0 0 2px var(--color-point2);
}

.pet-edit-button-row {
  position: absolute;
  bottom: 24px;
  left: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
}

.pet-edit-next-button {
  width: 100%;
  height: 48px;
  padding: 14px;
  font-size: 12px;
  font-weight: 600;
  background-color: var(--color-point);
  color: var(--color-main2);
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pet-edit-next-button:disabled {
  background: var(--color-disable) !important;
  color: var(--color-disable-text) !important;
  cursor: not-allowed;
  transition: background-color 0.2s ease;
}

.pet-edit-next-button:hover {
  background-color: var(--color-point-hover);
}
}