.inputInfoPage {
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.inputInfoPageContainer {
    width: 30vw;
    height: 60vh;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    text-align: center;
}

.inputInfoTitle {
    flex: 20%;
    font-size: 1.5rem;
    font-weight: 800;
    color: #333;
    margin-top: 10%;
}

.inputInfoForm {
    flex: 80%;
    width: 100%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
}

.inputInfoGroup {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.inputInfoLabel {
    font-weight: 800;
    color: #000;
    text-align: left;
    margin-bottom: 0.5rem;
}

.inputInfoInput {
    width: 100%;
    padding: 0.5rem;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    background-color: #e8e8e8;
    box-sizing: border-box;
}

.inputInfoButtonGroup {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 350px;
    margin-top: 1.5rem;
}

.inputInfoCancelButton,
.inputInfoSubmitButton {
    flex: 1;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.8s ease;
    text-align: center;
    padding: 15px;
    font-size: 14px;
}

.inputInfoCancelButton {
    background-color: #5c5c5c;
    color: #ffffff;
    margin-right: 10px;
    font-weight: 700;
}

.inputInfoCancelButton:hover {
    background-color: #333333;
}

.inputInfoSubmitButton {
    background-color: #57687c;
    color: #ffffff;
    font-weight: 700;
}

.inputInfoSubmitButton:hover {
    background-color: #2C3E50;
}