.inputinfopage {
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.inputinfopage-container {
    width: 30vw;
    height: 60vh;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    text-align: center;
}

.inputinfopage-title {
    flex: 20%;
    font-size: 1rem;
    font-weight: 500;
    color: #333;
    margin-top: 10%;
}

.inputinfopage-form {
    flex: 80%;
    width: 100%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
}

.inputinfopage-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.inputinfopage-label {
    font-weight: 600;
    color: #000;
    text-align: left;
    margin-bottom: 0.5rem;
}

.inputinfopage-input {
    width: 100%;
    padding: 0.5rem;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    background-color: #e8e8e8;
    box-sizing: border-box;
}

.inputinfopage-buttongroup {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 350px;
    margin-top: 1.5rem;
}

.inputinfopage-cancelbutton {
    flex: 1;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.8s ease;
    text-align: center;
    padding: 15px;
    font-size: 14px;
    background-color: #5c5c5c;
    color: #ffffff;
    margin-right: 10px;
    font-weight: 700;
}

.inputinfopage-cancelbutton:hover {
    background-color: #333333;
}

.inputinfopage-submitbutton {
    flex: 1;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.8s ease;
    text-align: center;
    padding: 15px;
    font-size: 14px;
    background-color: #57687c;
    color: #ffffff;
    font-weight: 700;
}

.inputinfopage-submitbutton:hover {
    background-color: #2C3E50;
}