.signUpPage {
    background-color: #F2F2F2;
    background-size: 100% 100%;
    background-position: center; 
    background-repeat: no-repeat; 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.signUpPageContainer {
    display: flex;
    width: 60vw;
    height: 70vh;
    background-color: rgba(255, 255, 255, 0.5); 
    border-radius: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;

    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 0.8s ease forwards;
}

.signUpLeftSection {
    flex: 1;
    background-color: #bfbfbf;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;

}

.signupImage {
    max-width: 30%;
    max-height: 100%;
    object-fit: cover;
}

.signUpRightSection {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9); 
    width: 100%;
}

.signUpFormGroup {
    margin: 0 auto; 
    width: 120%; 
    position: relative;
    display: flex;
    flex-direction: column;
    transform: translateX(-10%); 
    margin-top: 0.5rem;
}

.inputGroup {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 1rem; 
}

.signUpFormGroup label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #000000;
    text-align: left; 
    font-weight: 700;
}

.inputGroup input {
    flex: 0.8; 
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    background-color: #e8e8e8;
    font-size: 10px;
    box-sizing: border-box; 
}

.checkButton {
    flex: 0.2;
    width: 6vw;
    margin-left: 0.5rem; 
    padding: 0.5rem 1rem; 
    border: none;
    border-radius: 3px;
    color: #ffffff;
    font-size: 10px;
    font-weight: 500;
    cursor: pointer;
    background-color: #5c5c5c;
    transition: background-color 0.5s ease;
    box-sizing: border-box;
    align-self: stretch;
}

.checkButton:hover {
    background-color: #333333;
    color: #ffffff;
}

.signUpFormGroup input {
    width: 100%;
    padding: 0.5rem;
    border: none;
    border-radius: 2px;
    font-size: 10px;
    background-color: #e8e8e8;
    box-sizing: border-box;
}

.signUpButtonGroup {
    display: flex;
    align-items: center;
    width: 120%; 
    position: relative; 
    margin-top: 2rem;
    gap: 1.5rem;
    transform: translateX(-10%); 
}

.signUpButtonGroup button {
    flex: 1;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    font-size: 0.8rem;
    cursor: pointer;
    background-color: #5c5c5c;
    transition: background-color 0.5s ease;
    margin: 0;
    font-weight: 700;
    color: #ffffff;
    height: 4vh;
}

.signUpButtonGroup button:hover {
    background-color: #333333;
    color: #ffffff;
}

.signUpButtonGroup button[type="submit"] {
    background-color:  #57687c;
    color: #ffffff; 
    transition: background-color 0.5s ease; 
    font-weight: 700;
}

.signUpButtonGroup button[type="submit"]:hover {
    background-color: #2C3E50;
    font-weight: 700;
}

.name-error {
    color: rgb(195, 33, 33);
    font-size: 12px;
    margin-top: 0.5rem;
    text-align: left;
    visibility: hidden; 
    display: block;
    height: 0.2rem; 
}

.name-error.visible {
    visibility: visible; 
}

.email-error {
    color: rgb(195, 33, 33);
    font-size: 12px;
    margin-top: 0.5rem;
    text-align: left;
    visibility: hidden; 
    display: block;
    height: 0.2rem; 
}

.email-error.visible {
    visibility: visible; 
}

.passwordCriteria {
    margin: 1rem 0.5rem 1rem;
    text-align: left;
}

.passwordCriteria p {
    margin: 2px 0;
    padding: 0;
    font-size: 0.875rem;
    font-weight: 400;
}

.passwordCriteria p.valid {
    color: #4caf50;
    font-weight: 400;
}

.valid,
.invalid {
    display: flex;
    align-items: center; 
    gap: 0.5rem; 
    font-size: 1rem;
}

.valid svg,
.invalid svg {
    vertical-align: middle; 
    font-size: 1rem; 
}

.kakaoWithGuest-SignUp {
    margin-top: 1.5rem;
}

.kakao-login-button {
    width: 120px; 
    height: 50px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    background-color: #FEE500;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
