html, body, #root, .App {
  height: var(--app-height);
  min-height: var(--app-height);
  background-color: var(--color-main1);
  color: var(--color-text);
}

/* 전역 테마 컬러 */
:root {
  --color-main1: #f9f9f9;
  --color-main1-hover: #E8E9EC;
  --color-main2: #ffffff;
  --color-main2-hover: #f9f9f9;
  --color-text: #000;
  --color-subtext: #6b7280;
  --color-point: #00cba8;
  --color-point-hover: #13ba9d;
  --color-point2: #3a3a3a;
  --color-point2-hover: #000000;
  --color-selected: #E8E9EC;
  --color-disable: #E8E9EC;
  --color-disable-text: #C0C0C0;
  --color-tab-background: #f1f3f5;
  --shadow-color: rgba(0, 0, 0, 0.04);
}

* {
  transition: background-color 0.5s ease, color 0.5s ease;
}

  /*

  var(--color-main1);
  var(--color-main1-hover);
  var(--color-main2);
  var(--color-main2-hover);
  var(--color-text);
  var(--color-subtext);
  var(--color-point);
  var(--color-point-hover);
  var(--color-point2);
  var(--color-point2-hover);
  var(--color-selected);
  var(--color-disable);
  var(--color-disable-text);
  var(--color-tab-background);

  */

/* 다크모드 */
[data-theme="dark"] {
  --color-main1: #1e1e1e;
  --color-main1-hover: #2a2a2a;
  --color-main2: #3a3a3a;
  --color-main2-hover: #2a2a2a;
  --color-text: #ffffff;
  --color-subtext: #a1a1a1;
  --color-point: #00cba8;
  --color-point-hover: #13ba9d;
  --color-point2: #e0e0e0;
  --color-point2-hover: #f9fafb;
  --color-selected: #6a6a6a;
  --color-disable: #a1a1a1;
  --color-disable-text: #6b7280;
  --color-tab-background: #131313;
  --shadow-color: rgba(255, 255, 255, 0.04);
}

/* 기본 텍스트 정렬 */
.App {
  text-align: center;
}

/* 전역 폰트 */
* {
  font-family: 'Pretendard', sans-serif;
}

/* ✅ Toast 컨테이너 */
.toast-portal {
  position: fixed !important;
  top: 32px !important;
  right: 12px !important;
  z-index: 99999 !important;
  display: flex !important;
  flex-direction: column;
  align-items: flex-end;
  pointer-events: none;
}

.toast-portal .Toastify__toast {
  background: transparent !important;
  box-shadow: none !important;
  margin-bottom: 10px !important;
  width: auto !important;
  max-width: 520px;
  padding: 0 !important;
  pointer-events: auto;
}

.toast-portal .Toastify__toast-body {
  margin: 0 !important;
  padding: 0 !important;
}

/* ✅ 모바일 환경 */
@media screen and (max-width: 768px) {
  html, body {
    background-color: var(--color-main1);
    color: var(--color-text); 
  }

  #root, .App {
    background-color: var(--color-main1);
    color: var(--color-text);
  }

  .toast-portal {
    top: 30px !important;
    left: 50% !important;
    right: auto !important;
    transform: translateX(-50%) !important;
    align-items: center !important;
    width: 100%;
    max-width: 93%;
  }

  .toast-portal .Toastify__toast {
    width: 90% !important;
    max-width: 400px !important;
  }

  .toast-portal .Toastify__toast-body {
    text-align: center !important;
  }

  .Toastify__toast-body div[style*="fontWeight: 800"] {
    font-size: 15px !important;
  }

  .Toastify__toast-body div[style*="fontSize: 14px"] {
    font-size: 13px !important;
  }
}
