/* 기본 앱 높이를 window.innerHeight 기준으로 맞춤 */
html, body, #root, .App {
  margin: 0;
  padding: 0;
  height: var(--app-height); /* JS에서 동적으로 세팅됨 */
}

/* 텍스트 정렬 */
.App {
  text-align: center;
}

/* 로고 */
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* 헤더 */
.App-header {
  background-color: #282c34;
  min-height: var(--app-height); 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* 링크 */
.App-link {
  color: #61dafb;
}

/* 폰트 */
* {
  font-family: 'Pretendard', sans-serif;
}

/* 토스트 컨테이너 */
.toast-portal {
  position: fixed !important;
  top: 32px !important;        
  right: 12px !important;       
  z-index: 99999 !important;
  display: flex !important;
  flex-direction: column;
  align-items: flex-end;        
  width: auto;                  
  pointer-events: none;         
}

.toast-portal .Toastify__toast {
  background: transparent !important; 
  box-shadow: none !important;
  margin-bottom: 10px !important;
  align-self: flex-end;          
  width: auto !important;        
  max-width: 520px;           
  padding: 0 !important;
  pointer-events: auto;          
}

.toast-portal .Toastify__toast-body {
  margin: 0 !important;
  padding: 0 !important;
}

/* 로고 회전 */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}