body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  -webkit-tap-highlight-color: transparent;
}

input, select, button {
  color: inherit;
  background: none;
  appearance: none;
  -webkit-appearance: none;
}

button:focus, select:focus, input:focus {
  outline: none;
  box-shadow: none;
}
